
<div class="createProfile">

      <div class= "createButton">

        <button style="width:auto"><a href="/welcomeProfile" style="color: white">Go Back</a></button></button>
</div>
<h1>
Edit {{user.name}}'s Profile
</h1>





<form action="/profilePage/update/{{user._id}}" method="POST">


    <label for="">Name</label>
    <input type="text" name="name" value="{{user.name}}">

    <label for="">Work</label>
    <input type="text" name="work" value="{{user.work}}">

    <label for="">Interests</label>
    <input type="text" name="interests" value="{{user.interests}}">

    <button>Submit</button>



</form>
</div>